.footerPagina{
  display: flex;
  margin: 0;
  background-color: #071827;
  padding: 20px 0 0 0;
  position:sticky
}

.listFooter{
  display: flex;
  justify-content: center;
  list-style: none;
  background-color: #071827;
  padding: 0 980px 0 0;
}

.itemListFooter{
  display: flex;
  justify-content: center;
  background: none;
  padding: 0 20px 0 20px;
}

.linkFooter{
  text-decoration: none;
  color: #9882AC;
  background: none;
}

.versionFooter{
  display: flex;
  justify-content: end;
  color: #9882AC;
  background: none;
  font-size: 10px;
  margin: 0;
  padding: 20px 10px 5px 0;
}
