<header class="headerPagina">
  <nav class="navegarPaginas">
    <ul class="listaPaginas">
      <li>
        <button class="btnNav" routerLink=""><img class="iconHome" src="../../../assets/svg/house-solid.svg" alt="homeIcon">Home</button>
      </li>
      <li>
        <button class="btnNav" routerLink="/sortear"><img class="iconSortear" src="../../../assets/svg/circle-half-stroke-solid.svg" alt="sortearIcon">Sortear</button>
      </li>
      <li>
        <button class="btnNav" routerLink="/sorteados"><img class="iconSorteados" src="../../../assets/svg/database-solid.svg" alt="sorteadosIcon">Sorteados</button>
      </li>
    </ul>
  </nav>
</header>
