.navegarPaginas{
  background-color: #1D1627;
  display: flex;
  justify-content: center;
}

.listaPaginas{
  display: flex;
  list-style-type: none;
}

.btnNav{
  display: flex;
  align-items: center;
  border: solid 1px #1D1627;
  text-decoration: none;
  padding: 10px 50px 10px 40px;
  font-size: 18px;  color: #9882AC;
}

.btnNav:hover{
  background-color: #231c2e;
}

.btnNav:active{
  background-color: #1b1425;
}

.iconHome{
  width: 40px;
  height: 30px;
  padding: 0 5px 0 0;
  background: none;
}

.iconSortear{
  width: 40px;
  height: 30px;
  padding: 0 5px 0 0;
  background: none;
}

.iconSorteados{
  width: 40px;
  height: 30px;
  padding: 0 5px 0 0;
  background: none;
}
